<div id="background">
<header>
  <a href="index.html" id="logo">ListenTo.me</a>
  <nav>
    <ul>
      <li><a href="#">Find</a></li>
      <li><a href="#">Sign In</a></li>
      <li><a href="#">Create a Podcast</a></li>
    </ul>
  </nav>
</header>
<h1>Search for podcasts or upload your own</h1>
<a href="#" class="button button_highlight">Create a Podcast</a>
<a href="#" class="button button_white">Find</a>
</div>
